@import "../style.css";
@import "player.css";
@import "toolbar.css";
@import "playlist.css";

#main {
	width: 100%;
	height: calc(100% - var(--titlebar-height));

	display: grid;
	grid-template:
		"player  playlist"
		"toolbar playlist";

	grid-template-rows: 1fr 100px;
	grid-template-columns: 1fr 400px;
}