#toolbar {
	grid-area: toolbar;

	display: grid;
	grid-template:
		"controls info"
		/ auto 1fr;
	gap: 10px;

	padding: 0px 10px;
}

#toolbar > * {
	align-self: center;
}

#controls {
	--button-size: 50px;

	grid-area: controls;

	display: grid;
	grid-template:
		"previous playpause next" var(--button-size)
		/ var(--button-size) var(--button-size) var(--button-size);
	gap: 10px;
}

#controls > button {
	width: var(--button-size);
	height: var(--button-size);

	border: none;
	border-radius: 50%;
	outline: none;

	background-size: calc(var(--button-size) * 0.8) calc(var(--button-size) * 0.8);
	background-color: transparent;

	cursor: pointer;
}

#controls > button::before {
	content: "";

	display: inline-block;
	width: 100%;
	height: 100%;

	background-color: var(--color-text);
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}

#controls > button:hover {
	background-color: var(--color-foreground);
}

#controls > button:active {
	background-color: var(--color-foreground-variant);
}

#previous-item {
	grid-area: previous;
}

#previous-item::before {
	mask: url("../../resources/icons/skip_previous-24px.svg") center no-repeat;
	-webkit-mask: url("../../resources/icons/skip_previous-24px.svg") center no-repeat;
}

#playpause {
	grid-area: playpause;
}

#playpause[data-playing="false"]::before {
	mask: url("../../resources/icons/play_arrow-24px.svg") center no-repeat;
	-webkit-mask: url("../../resources/icons/play_arrow-24px.svg") center no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}

#playpause[data-playing="true"]::before {
	mask: url("../../resources/icons/pause-24px.svg") center no-repeat;
	-webkit-mask: url("../../resources/icons/pause-24px.svg") center no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}

#next-item {
	grid-area: next;
}

#next-item::before {
	mask: url("../../resources/icons/skip_next-24px.svg") center no-repeat;
	-webkit-mask: url("../../resources/icons/skip_next-24px.svg") center no-repeat;
}

#info {
	grid-area: info;

	display: grid;
	grid-template:
		"title"
		"site";
	gap: 15px;

	justify-self: center;
}

#info > * {
	place-self: center;
}

#title {
	grid-area: title;

	width: 100%;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	font-size: 20px;
}

#site {
	grid-area: site;

	border: none;
	border-radius: 20px;
	padding: 8px;
	outline: none;

	color: inherit;
	background-color: var(--color-foreground);

	cursor: pointer;
}

#site:active {
	background-color: var(--color-foreground-variant);
}