@import "./autosearch.css";
@import "./dropdown.css";
@import "./titlebar.css";

:root {
	--color-primary: transparent;
	--color-primary-variant: transparent;
	--color-accent: transparent;
	--color-accent-variant: transparent;
	--color-background: transparent;
	--color-foreground: transparent;
	--color-foreground-variant: transparent;
	--color-text: transparent;
}

body {
	--titlebar-height: 28px;

	width: 100%;
	height: 100%;

	margin: 0;
	border: none;
	padding: 0;

	overflow: hidden;

	background-color: var(--color-background);

	font-family: 'Noto Sans', sans-serif;
	color: var(--color-text);
}

.pageContentSource {
	display: none;
	visibility: hidden;
	position: absolute;
	pointer-events: none;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.iconic {
	--icon-size: 100%;
	--icon-width: var(--icon-size);
	--icon-height: var(--icon-size);
	--icon-color: var(--color-text);
	--icon-url: url("app://resources/icons/icon.png");

	background-size: var(--icon-width) var(--icon-height);
	background-color: transparent;

	width: var(--icon-width);
	height: var(--icon-height);
}

	.iconic::before {
		content: "";

		display: inline-block;
		width: 100%;
		height: 100%;

		background-color: var(--icon-color);

		mask-size: 100% 100% !important;
		mask: var(--icon-url) center no-repeat;

		-webkit-mask: var(--icon-url) center no-repeat;
		-webkit-mask-size: 100% 100% !important;
	}

[type=text] {
	color: var(--color-text);
}

::placeholder {
	color: var(--color-text);
	filter: opacity(70%);
}

::-webkit-scrollbar {
	padding: 0px;
}

::-webkit-scrollbar-track {	
	border: 6px solid transparent;
	border-radius: 50px;

	background: var(--color-foreground);
	background-clip: content-box;
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;

	background: var(--color-foreground);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-foreground-variant);
}