#playlist {
	grid-area: playlist;

	display: grid;
	grid:
		"selection" 50px
		"entrybar" 50px
		"items" auto;
	gap: 20px;

	padding: 0px 10px;
}

	#selection {
		grid-area: selection;

		display: grid;
		grid:
			"playlists options"
			/ auto 50px;
	}

		#playlists {
			--icon-size: 34px;

			grid-area: playlists;

			display: grid;
			grid:
				"playlists-button playlists-text"
				/ var(--icon-size) auto;
			gap: 5px;

			align-self: center;
		}

			#playlists > button {
				grid-area: playlists-button;

				width: var(--icon-size);
				height: var(--icon-size);

				border: none;
				border-radius: 50%;
				outline: none;

				background-color: transparent;

				cursor: pointer;
			}

				#playlists > button::before {
					content: "";

					display: inline-block;
					width: 100%;
					height: 100%;

					background-color: var(--color-text);
					background-size: calc(var(--icon-size) * 0.8) calc(var(--icon-size) * 0.8);
					mask: url("../../resources/icons/menu-24px.svg") center no-repeat;
					-webkit-mask: url("../../resources/icons/menu-24px.svg") center no-repeat;
				}

				#playlists > button:hover {
					background-color: var(--color-foreground);
				}

				#playlists > button:active {
					background-color: var(--color-foreground-variant);
				}

			#playlists > div {
				grid-area: playlists-text;

				outline: none;

				justify-self: start;
				align-self: center;

				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				font-size: 20px;
			}

				#playlists > div[contenteditable="true"] {
					caret-color: var(--color-accent);

					outline: auto var(--color-accent);
					border-radius: 10px;

					text-overflow: clip;
				}

		#options {
			grid-area: options;

			width: 30px;
			height: 30px;

			place-self: center;
			
			border: none;
			border-radius: 50%;
			outline: none;
			
			background-color: transparent;

			cursor: pointer;
		}

			#options::before {
				content: "";

				display: inline-block;
				width: 100%;
				height: 100%;

				background-color: var(--color-text);
				mask: url("../../resources/icons/more_vert-24px.svg") center no-repeat;
				-webkit-mask: url("../../resources/icons/more_vert-24px.svg") center no-repeat;
			}

			#options:hover {
				background-color: var(--color-foreground);
			}

			#options:active {
				background-color: var(--color-foreground-variant);
			}

	#entrybar {
		grid-area: entrybar;

		display: grid;
		grid:
			"add query courier"
			/ 50px auto 120px;
		gap: 10px;
	}

		#add {
			grid-area: add;

			border: none;
			border-radius: 50% 10% 10% 50%;
			outline: none;

			background-color: var(--color-foreground);

			cursor: pointer;
		}

			#add::before {
				content: "";

				display: inline-block;
				width: 1em;
				height: 1em;

				background-color: var(--color-text);
				mask: url("../../resources/icons/add-24px.svg") center no-repeat;
				-webkit-mask: url("../../resources/icons/add-24px.svg") center no-repeat;
			}

			#add:active {
				background-color: var(--color-foreground-variant);
			}

		#query {
			grid-area: query;
		}

			#query > input {
				width: 100%;
				height: 100%;

				border: none;
				padding: 0px 10px;
				outline: none;

				background-color: var(--color-foreground);

				font-size: 16px;
			}

		#courier {
			--icon-size: 30px;

			grid-area: courier;

			width: 100%;
			height: 100%;

			border: none;
			outline: none;

			display: grid;
			grid:
				"courier-text courier-icon"
				/ auto var(--icon-size);
			gap: 5px;

			background-color: var(--color-foreground);

			cursor: pointer;
		}

			#courier:active {
				background-color: var(--color-foreground-variant);
			}

			#courier > div {
				user-select: none;
				pointer-events: none;
			}

			#courier > :nth-child(1) {
				grid-area: courier-text;

				justify-self: end;
				align-self: center;
			}

			#courier > :nth-child(2) {
				grid-area: courier-icon;

				width: var(--icon-size);
				height: var(--icon-size);

				place-self: center;
			}

				#courier > :nth-child(2)::before {
					content: "";

					display: inline-block;
					width: 100%;
					height: 100%;

					background-color: var(--color-text);
					mask: url("../../resources/icons/arrow_drop_down-24px.svg") center no-repeat;
					-webkit-mask: url("../../resources/icons/arrow_drop_down-24px.svg") center no-repeat;
				}

	#items {
		grid-area: items;

		overflow-y: auto;
	}

		.item {
			display: grid;

			padding: 10px 0px;
			margin: 0px 0px 0px 6px;
			border-radius: 10px;

			gap: 5px;
			grid:
				"icon text"
				/ 30px 1fr;
		}

			.item > :nth-child(1) {
				grid-area: icon;

				place-self: center;
			}

				.item > :nth-child(1)::before {
					content: "";

					display: inline-block;
					width: 1em;
					height: 1em;

					background-color: var(--color-text);
					mask: url("../../resources/icons/dot_24dp.svg") center no-repeat;
					-webkit-mask: url("../../resources/icons/dot_24dp.svg") center no-repeat;
				}

			.item > :nth-child(2) {
				grid-area: text;

				outline: none;

				align-self: center;

				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

				.item > :nth-child(2)[contenteditable="true"] {
					caret-color: var(--color-accent);

					outline: auto var(--color-accent);
					border-radius: 10px;

					text-overflow: clip;
				}

			.item:hover {
				background-color: var(--color-foreground);
			}

				.item:hover > :nth-child(1)::before {
					mask: url("../../resources/icons/play_arrow-24px.svg") center no-repeat;
					-webkit-mask: url("../../resources/icons/play_arrow-24px.svg") center no-repeat;
				}

			.item:active {
				background-color: var(--color-foreground-variant);
			}

		.item.playingItem {
			background-color: var(--color-primary);
		}

			.item.playingItem:hover {
				background-color: var(--color-primary-variant);
			}

			.item.playingItem:hover > :nth-child(1)::before {
				mask: url("../../resources/icons/replay_18dp.svg") center no-repeat;
				-webkit-mask: url("../../resources/icons/replay_18dp.svg") center no-repeat;
			}

		.item.reorderTarget {
			background-color: var(--color-accent);
		}

			.item.reorderTarget > :nth-child(1)::before {
				mask: url("../../resources/icons/dot_24dp.svg") center no-repeat;
				-webkit-mask: url("../../resources/icons/dot_24dp.svg") center no-repeat;
			}