#toolbar {
	grid-area: toolbar;

	display: grid;
	grid:
		"info volume"
		"controls volume"
		/ 0.5fr 0.5fr;
	gap: 0px 30px;

	padding: 10px;
}

	#toolbar > * {
		align-self: center;
	}

	#info {
		grid-area: info;

		display: grid;
		grid: "site title";
		gap: 15px;

		justify-self: center;
	}

		#info > * {
			place-self: center;
		}

		#title {
			grid-area: title;

			width: 100%;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			font-size: 20px;
		}

		#site {
			grid-area: site;

			border: none;
			border-radius: 20px;
			padding: 8px;
			outline: none;

			color: inherit;
			background-color: var(--color-foreground);

			cursor: pointer;
		}

			#site:active {
				background-color: var(--color-foreground-variant);
			}

	#controls {
		--button-size: 50px;

		grid-area: controls;

		display: grid;
		grid:
			"previous playpause next" var(--button-size)
			/ var(--button-size) var(--button-size) var(--button-size);
		gap: 10px;

		place-self: center;
	}

		#controls > button {
			--icon-size: var(--button-size);

			border: none;
			border-radius: 50%;
			outline: none;

			cursor: pointer;
		}

			#controls > button:hover {
				background-color: var(--color-foreground);
			}

			#controls > button:active {
				background-color: var(--color-foreground-variant);
			}

		#previous-item {
			--icon-url: url("app://resources/icons/skip_previous-24px.svg");

			grid-area: previous;
		}

		#playpause {
			grid-area: playpause;
		}

			#playpause[data-playing="false"] {
				--icon-url: url("app://resources/icons/play_arrow-24px.svg");
			}

			#playpause[data-playing="true"] {
				--icon-url: url("app://resources/icons/pause-24px.svg");
			}

		#next-item {
			--icon-url: url("app://resources/icons/skip_next-24px.svg");

			grid-area: next;
		}

	#volume {
		--size: 30px;

		grid-area: volume;

		display: grid;
		grid: "icon slider" / var(--size) 1fr;
		gap: 10px;

		justify-self: center;

		width: 50%;
	}

		#volume > div {
			--icon-size: var(--size);

			grid-area: icon;

			border: none;
			border-radius: 50%;
			outline: none;

			cursor: pointer;
			
			-webkit-user-select: none;
		}

			#volume > div:active {
				background-color: var(--color-foreground-variant);
			}

			#volume > div[data-level="high"] {
				--icon-url: url("app://resources/icons/volume_up.svg");
			}

			#volume > div[data-level="medium"] {
				--icon-url: url("app://resources/icons/volume_down.svg");
			}

			#volume > div[data-level="low"] {
				--icon-url: url("app://resources/icons/volume_off.svg");
			}

			#volume > div[data-muted="true"] {
				--icon-url: url("app://resources/icons/volume_mute.svg");
			}

		#volume > input {
			-webkit-appearance: none;

			grid-area: slider;

			overflow: hidden;
			align-self: center;

			min-width: 50px;
			height: 10px;

			border-radius: 0px 10px 10px 0px;
			background: var(--color-foreground-variant);
		}

			#volume > input:hover {
				border: 1px solid var(--color-primary-variant);
			}

			#volume > input::-webkit-slider-thumb {
				-webkit-appearance: none;

				width: 0px;
				height: 100%;

				background: var(--color-primary);
				box-shadow: -100vw 0 0 100vw var(--color-primary);
			}

			#volume > input:hover::-webkit-slider-thumb {
				background: var(--color-primary-variant);
				box-shadow: -100vw 0 0 100vw var(--color-primary-variant);
			}