@import "../style.css";
@import "./description.css";
@import "./graph.css";

#content {
	--spacing: 25px;

	position: fixed;

	width: calc(100% - var(--spacing) * 2);
	height: calc(100% - var(--titlebar-height) - var(--spacing) * 2);

	padding: var(--spacing);
}

#description {
	width: inherit;
	height: calc(var(--spacing) * 2);
}

#graph {
	top: calc(var(--titlebar-height) + var(--spacing) * 4);

	width: inherit;
	height: calc(100% - var(--titlebar-height) - var(--spacing) * 5);
}

#back {
	--icon-size: 40px;
	--icon-url: url("app://resources/icons/arrow_back_24dp.svg");

	position: fixed;
	top: 10px;
	left: 10px;

	border: none;
	border-radius: 50%;
	outline: none;

	cursor: pointer;
	-webkit-app-region: no-drag;
}

	#back:hover {
		background-color: var(--color-foreground);
	}

	#back:active {
		background-color: var(--color-foreground-variant);
	}